*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
.card #navbar{
    height: 200px;
    width: 100%;
    position: center;
    padding: 10px 30px;

    
    background-color: #952121;
    border-radius: 2px;

}
#card{
    border-radius: 10px;
    height: 450px;
    width: 300px;
    background-color: #fff;
    padding: 30px;
    text-align: center;
}
#card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    
}
#card h1{
    font-size: 25px;
    font-weight: 800;
    margin: 10px 0;

}
#card h5{
    color: red;
    font-size: 35px;
    margin-bottom: 20px;
}
#card button{
    font-weight: 700;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: cadetblue;
    border: none;
    margin: 5px;
    cursor: pointer;
}
